<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../../static/rental.css">

{% block content %}

<div class="card" style="width: 25rem;">
<img class="card-img-top" src="{{movie.image_url}}" alt="Card image cap">
<div class="card-body">
<h5 class="card-title">{{movie.title}}</h5>
<h6 class="card-subtitle mb-2 text-muted">{{movie.genre}}</h6>
<p class="card-text">Release Year: {{movie.release_year}}</p>
<h6 class="card-text">{{movie.director}}</h6>
<h6 class="card-text movie-price">${{movie.price}}</h6>
<h6 class="card-text">In Stock: {{movie.in_stock}}</h6>
{% if movie.in_stock > 0 %}
<a href="{{movie.id}}" class="btn btn-info" role="button">Rent Movie</a>
<a href="/rental/"class="btn btn-primary" role="button">Return to Movie Selection</a>
{% else %}
<a href="/rental/" class="btn btn-info" role="button" disabled>Out of Stock, click to return to movies</a>
{% endif %}




</div>
</div>

{% endblock %}

<script src="../../static/catalog.js"></script>