<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test Rental Site</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/rental.css">
</head>

<body>
    {% for movie in movies %}
    <div class="card features" style="width: 15rem;">
        <img class="card-img-top" src="{{movie.image_url}}" alt="Card image cap">
        <div class="card-body">
            <h6 class="card-title">{{movie.title}}</h6>
            <h5 class="card-subtitle mb-2 text-muted">{{movie.genre}}</h5>
            <p class="card-text">Release Year: {{movie.release_year}}</p>
            <h5 class="card-text">{{movie.director}}</h5>
            <h5 class="card-text movie-price">${{movie.price}}</h5>
            <a href="{{movie.id}}" class="btn btn-primary" role="button">View Movie Details</a>
        </div>
    </div>


    {% endfor %}
</body>
<script src="../../static/catalog.js"></script>

</html>